<h1>Dashboard</h1>

<%= form_for peep do |form| %>
  <%= form.label :peep %>
  <%= form.text_field :body, placeholder: "Peep!", required: true %>
  <%= form.submit "Peep!" %>
<% end %>

<% peeps.each do |peep| %>
  <div>
    <%= peep.user.username %>
    <%= peep.body %>
    <%= time_ago_in_words(peep.created_at) %> ago
  </div>
<% end %>
