<h1>Dashboard</h1>

<%= form_for peep do |form| %>
  <%= form.label :peep %>
  <%= form.text_field :body, placeholder: "Peep!", required: true %>
  <%= form.submit "Peep!" %>
<% end %>

<%= render peeps %>
